<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ImageGuess">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application android:name="com.ImageGuess.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <activity android:name="com.ImageGuess.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ImageGuess.LogIn">

        </activity>
        <activity android:name="com.ImageGuess.Register">

        </activity>
        <activity android:name="com.ImageGuess.Welcome">

        </activity>
        <activity android:name="com.ImageGuess.RoomCreate">

        </activity>
        <activity android:name="com.ImageGuess.RoomJoin">

        </activity>
        <activity android:name="com.ImageGuess.Settings">

        </activity>
        <activity android:name="com.ImageGuess.Play">

        </activity>
        <activity android:name="com.ImageGuess.About">

        </activity>
        <activity android:name="com.ImageGuess.RoomWait">

        </activity>

        <activity android:name="com.ImageGuess.Join">

        </activity>
    </application>

</manifest>